
body {
    font-family: $primaryFontFam;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    color: $primaryTextColor;
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    }

.container {
    position: relative;
    width: 90%;;
    margin: 0 auto;
}
