@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width: 1199px) {
        @content;
    }
}
@mixin mobile {
    @media screen and (min-width: 0px) and (max-width: 767px) {
        @content;
    }
}
@mixin smallmobile {
    @media screen and (min-width: 0px) and (max-width: 399px) {
        @content;
    }
}
@mixin h1 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    @include tablet{
        font-size: 26px;
    }
}
@mixin h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    @include tablet{
        font-size: 20px;
    }
}
@mixin menuText {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    @include tablet{
        font-size: 16px;
    }
}
@mixin paragraph {
    color: $primaryTextColor;
    font-family: $primaryFontFam;
    font-size: 21px;
}
@mixin comments {
    text-align: start;
    color: $primaryTextColor;
    font-family: $primaryFontFam;
    font-size: 16px;
}
@mixin city {
    text-align: center;
    text-transform: capitalize;
    color: $primaryTextColor;
    font-family: $primaryFontFam;
    font-size: 22px;
}
@mixin temperature {
    @include city;
    opacity: .7;
    text-transform: uppercase;
}
@mixin contacts{
    color: $secondaryBgColor;
    font-size: 26px;
    font-weight: 500;
    text-transform: capitalize;
    @include tablet{
        font-size: 20px;
    }
}
@mixin copyright {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    @include mobile{
        font-size: 12px;
    }
}