@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import './base/reset';
@import './utils/variables';
@import './utils/mixins';
@import './components/container';
@import './DailyWeatherItem.scss';
@import './CurrentWeatherItem.scss';
@import './HourlyWeatherItem.scss';
@import './Footer.scss';

.page_wrapper{
    margin: 0px auto;
}

body.fixed{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
// Header-----
header {
    &.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background: $primaryBgColor;
    box-shadow: none;
    }
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionStatic.header.css-1x7skt0 {
    background-color: #fff;
}
.main_nav {
    min-height: 4rem;
    max-width: 1248px;    
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1px;
    margin: 0 auto;
    padding: 0 16px;
    @include tablet {
        max-width: 976px;
    }
    @include smallmobile{
        padding: 0 8px;
    }

}

.logo-wrapper {
    width: 112px;
    height: 50px;
    fill: none;
    margin-right: 0.125rem;
    padding-right: 1.25rem;
    transition: transform 0.3s ease;
    @include tablet{
        padding-right: 0.75rem;
    }
    @include mobile{
        flex-grow: 1;
        text-align: center;
        vertical-align: baseline;
    }
}
.logo-wrapper {
    &:hover, &:focus{
    transform: scale(1.2);
    }}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
}
.logo-title {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}
// account
.login-wrapper {
    color: $primaryTextColor;
    width: 11rem;
    max-width: 176px;
    min-height: 4rem;
    display: flex;
    align-items: center;
    @include tablet {
        width: 8.5rem;
        max-width: 160px;
    }
    @include mobile{
        order: -1;
        width: 3rem;
        max-width: 60px;
    }
    .login-statusbar.active, .account-statusbar.active{
    display: flex;
    }
    .login-statusbar, .account-statusbar{
        display: none;
    }
}


.login-link, .account-link{
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: left;
    position: relative;
    color: inherit;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
    min-width: unset;
    padding-left: 0;
    margin: 0 auto;
    &:hover, &:focus  {
        border-bottom-color: #006def;
        &::after{
            width: 100%;
            opacity: 1;
        }
    }
    &::after {
        content: "";
        background-color: #0178ff;
        position: absolute;
        left: 0;
        bottom: -0.5rem;
        height: 0.125rem;
        width: 66%;
        opacity: 0;
        transition: width .2s,opacity .2s;
    }
}
.account-img{
    width: 100%;
    height: 100%;
}
.login-username, .account-username{
    position: static;
    overflow: visible;
    margin-left: 6px;
    height: auto;
    width: auto;
    clip: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include mobile{
        position: absolute;
        overflow: hidden;
        height: 1px;
        width: 1px;
        clip: rect(1px,1px,1px,1px);
    }

}

// header navigation
.nav-list_wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .nav_list {
        display: flex;
        justify-content: space-around;
        position: relative;
        width: 100%;
        padding: 0;
        list-style-type: none;
        font-size: 13px;
        font-weight: 700;
    }
    header .nav_item {
    color: $primaryTextColor;
    transition: all .2s ease;
    &::after{
        @include mobile{ 
            content: '';
            width: 44px;
            height: 3px;
            position: absolute;
            background-color: rgba($accentColor_tomato, 0.3);
            left: 50%;
            transform: translateX(-50%);
        }
    }} 
    .nav_link {
    display: block;
    @include menuText;
    width: 100%;
    height: 100%;
    line-height: 4rem;
    padding: 0 0.25rem;
    text-decoration: inherit; 
    span.link-subtitle{
        color: $primaryTextColor;
        display: inline-block;
        text-decoration: none;
        position: relative;
        bottom: -0.0625rem;
        &:focus, &:hover{
        font-weight: 700;
        }
        &::after{
            content: "";
            display: block;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0.625rem;
            height: 0.125rem;
            width: 66%;
            opacity: 0;
            transition: width .2s, opacity .2s;
            transition-timing-function: cubic-bezier(.75,0,.15,1);
            }
        }
        &:focus span::after, &:hover span::after{
            width: 100%;
            opacity: 1;
        }
        }
    }
    .nav-item:nth-child(1) .link-subtitle::after{
        background-color: $accentColor;
        }
    .nav-item:nth-child(2) .link-subtitle::after{
        background-color: #eb0000;
        }
    .nav-item:nth-child(3) .link-subtitle::after{
        background-color: #ffd230;
        }
    .nav-item:nth-child(4) .link-subtitle::after{
        background-color: #af0;
        }

// mobile-menu underline
header.header .css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: transparent;
}
.MuiMenuItem-root {
    span{
        position: relative;
    &::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -5px;
    height: 0.125rem;
    width: 66%;
    opacity: 0;
    transition: width .2s, opacity .2s;
    transition-timing-function: cubic-bezier(.75,0,.15,1);
    }}
    &:focus span::after, &:hover span::after{
        width: 100%;
        opacity: 1;
    }
    &:nth-child(1) span::after{
        background-color: $accentColor;
        }
    &:nth-child(2) span::after{
        background-color: #eb0000;
        }
    &:nth-child(3) span::after{
        background-color: #ffd230;
        }
    &:nth-child(4) span::after{
        background-color: #af0;
        }
}
// social-link list
.social-link-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 24px;
    @include tablet{
         gap: 20px;
    }
    @include mobile{
        gap: 15px;  
    }
}
.social-link {
    width: 46px;
    height: 37px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: all 0.3s ease;
    @include tablet{
        width: 30px;
        height: 30px;
        i {
            font-size: 16px;
        }
    }
    @include mobile{
        width: 20px;
        height: 20px;
        i {
            font-size: 12px;
        }
    }
}
.social-link-item{
    height: 100%;
    &:hover .social-link,
    &:focus .social-link {
        transform: scale(1.1);
    }     
    &:hover .icon-social-link,
    &:focus .icon-social-link{
        color: $primaryTextColor;
    }}


.icon-social-link {
    font-size: 12px;
    color: $primaryTextColor;
    transition: all 0.3s ease;
}

// MAIN 
// Search
div.search {
    background-color: $accentColor;

    .MuiGrid-container {
        min-height: 64px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-top: 30px;
    }
    .search-item {
        padding-top: 0;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
        min-width: 100px;
        &#input-wrapper{
                background: #FFF;
                padding-top: 0 8px 0 44px;
         
        }
        .search-title {
            font-size: 29px;
            font-weight: 700;
            letter-spacing: 0.2rem;
            line-height: 1;
            text-transform: uppercase;
            text-align: end;
            color: $secondaryTextColor;
            margin: 0 10px 0 auto; 
        }
    }
}
span.error{
    display: block;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 0 , 0);
    text-align: center;
    margin: 0 auto;
    padding: 5px 0px 5px 0px;
}
body main .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{
    border-color: none;
    border: 2px solid #FFF;
    border-radius: 0px;
    transition: all $transitionFunc;  
}
body main .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border: 2px solid $btnHoverColor;
    border-radius: 0;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.search-btn.css-sghohy-MuiButtonBase-root-MuiButton-root{
    padding-left: 10px;
    padding-right: 10px;
    background-color: $accentColor;
    transition: all $transitionFunc;
    &:focus, &:hover{
        background-color: $btnHoverColor;
        svg{
            transform: scale(1.1);
        }
        svg{
            transition: all $transitionFunc;   
        }
    }
    .css-9tj150-MuiButton-endIcon {
        display: inherit;
        margin-right: -4px;
        margin-left: 0;
    }
}

// forecast curreny + 5-days + hourly
.wr-day-container
    p {
        text-align: center;
        font-size: 26px;
        font-weight: 500;
        padding-bottom: 10px;
        color:#141414;
 }


.wr-day-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0;

    font-size: 1rem;
    min-height: 274px;
    height: calc(100vh - 256px);
    background-color: #5a5a5a;
    background-image: url(../images/day/sunny-day-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    @include tablet{
        min-height: 244px;
        background-image: url(../images/day/sunny-day-tablet.jpg);
    }
    @include mobile{
        padding: 20px 0;
        min-height: 290px;
        background-image: url(../images/day/sunny-day-mobile.jpg);
    }
    @include smallmobile{
        min-height: 234px;
        background-image: url(../images/day/sunny-day-smallmobile.jpg);     
    }
&.clouds{
    background-image: url(../images/day/cloud-day-desktop.jpg);
    @include tablet{
        background-image: url(../images/day/cloud-day-tablet.jpg);
    }
    @include mobile{
        background-image: url(../images/day/cloud-day-mobile.jpg);
    }
    @include smallmobile{
        background-image: url(../images/day/cloud-day-smallmobile.jpg);     
    }
}
&.rain{
    background-image: url(../images/day/rain-day-desktop.jpg);
    @include tablet{
        background-image: url(../images/day/rain-day-tablet.jpg);
    }
    @include mobile{
        background-image: url(../images/day/rain-day-mobile.jpg);
    }
    @include smallmobile{
        background-image: url(../images/day/rain-day-smallmobile.jpg);     
    }
}
&.snow{
    background-image: url(../images/day/snow-day-desktop.jpg);
    @include tablet{
        background-image: url(../images/day/snow-day-tablet.jpg);
    }
    @include mobile{
        background-image: url(../images/day/snow-day-mobile.jpg);
    }
    @include smallmobile{
        background-image: url(../images/day/snow-day-smallmobile.jpg);     
    }
}
&.sunny{
    background-image: url(../images/day/sunny-day-desktop.jpg);
    @include tablet{
        background-image: url(../images/day/sunny-day-tablet.jpg);
    }
    @include mobile{
        background-image: url(../images/day/sunny-day-mobile.jpg);
    }
    @include smallmobile{
        background-image: url(../images/day/sunny-day-smallmobile.jpg);     
    }
}
&.night {
    background-color: #57606c;
    background-image: linear-gradient(0deg, rgba(255,255,255,0.12) 100%, rgba(255,255,255,0.12) 100%), url(../images/night/night-desktop.jpg);
    @include tablet{
        background-image: linear-gradient(0deg, rgba(255,255,255,0.12) 100%, rgba(255,255,255,0.12) 100%), url(../images/night/night-tablet.jpg);
    }
    @include mobile{
        background-image: linear-gradient(0deg, rgba(255,255,255,0.12) 100%, rgba(255,255,255,0.12) 100%), url(../images/night/night-mobile.jpg);
    }
    @include smallmobile{
        background-image: linear-gradient(0deg, rgba(255,255,255,0.12) 100%, rgba(255,255,255,0.12) 100%), url(../images/night/night-smallmobile.jpg);     
    }
}}
.local-forecast.css-1oqqzyl-MuiContainer-root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wr-day-container.current-forecast, .wr-day-container.daily-forecast{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wr-location {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    
    justify-content: space-between;
    min-height: 58px;
    color: $secondaryTextColor;
    padding: 24px 24px 0px;
    margin-bottom: 16px;
    @include mobile{
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        padding: 8px 8px 0px;
    }
}
.location-title-wrapper{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    gap: 20px;
    background-color: rgba(0,0,0,.12);
    padding: 10px;
    border-radius: 4px;
}
.wr-location__name {
    font-size: 26px;
    color: $secondaryTextColor;
    @include mobile{
        font-size: 18px;
    }
    
}
.date{
    font-size: 18px;
    @include mobile{
        font-size: 16px;
    }
}
.wr-sunrise{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: $secondaryTextColor;

    .wr-weather-type__icon {
        display: inline-block;
        width: 48px;
        height: 48px;
        color: $secondaryTextColor;
        background-color: transparent;
        @include mobile{
            width: 34px;
            height: 34px;
        }
        
        svg {
            height: 100%;
            width: 100%;
            fill: currentColor;
        }
    } 
    .wr-sunrise__description{
        display: flex;
        flex-direction: column;
        justify-content: space-between ;
    } 
}


.btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: 10px;
    margin: 0 0 0 auto;
    @include mobile{
        justify-content: space-between;
        margin: 0 auto;
    }
}
.btn-wrapper .wr-location__overview{
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 8px;
    padding: 8px 10px;
    color: $secondaryTextColor;
    background-color: $accentColor;
    transition: all .5s ease;
    &:hover, &:focus{
        color: rgba($secondaryTextColor, 0.7);
        background-color: $btnHoverColor;
    }
    &.active{
        color: $secondaryTextColor;
        background-color: $accentColor;
        &:hover, &:focus{
            color: rgba($secondaryTextColor, 0.7);
            background-color: $btnHoverColor;
        }}
    &.current{
        color: rgba($secondaryTextColor, .7);
        background-color: rgba(0,0,0, 0.2);
        &:hover, &:focus{
            color: rgba($secondaryTextColor, .7);
            background-color: rgba(0,0,0, 0.2)
        }}
}
.d-none{
    display: none;
}
// footer section
.footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: $secondaryBgColor;
    padding-top: 30px;
    padding-bottom: 30px;

  
.copyright-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}
.footer-copyright {
    display: inline-block;
    color: $secondaryTextColor;
    @include copyright; 
}
}